.footer{
    padding:60px 0 10px;
}
.footer-bottom {
    margin-top: 60px;
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,.08);
}

.footer-bottom p {
    color: #94a3b8;
    font-size: 15px;
    margin: 0;
    line-height: 1.8;
}

.footer-bottom a {
    color: #6C63FF;
    text-decoration: none;
    font-weight: 600;
}

.footer-bottom a:hover {
    color: #8B5CF6;
}